.board {
	grid-area: board;
	display: none;
	grid-template-areas:
		'a8 b8 c8 d8 e8 f8 g8 h8'
		'a7 b7 c7 d7 e7 f7 g7 h7'
		'a6 b6 c6 d6 e6 f6 g6 h6'
		'a5 b5 c5 d5 e5 f5 g5 h5'
		'a4 b4 c4 d4 e4 f4 g4 h4'
		'a3 b3 c3 d3 e3 f3 g3 h3'
		'a2 b2 c2 d2 e2 f2 g2 h2'
		'a1 b1 c1 d1 e1 f1 g1 h1';
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);

	aspect-ratio: 1;

	/* gap: 3px; */
	/* border: thin solid black; */
	/* padding: 3px; */
}

.a8 {
	grid-area: a8;
	background-color: var(--light-square-color);
}

.b8 {
	grid-area: b8;
	background-color: var(--dark-square-color);
}

.c8 {
	grid-area: c8;
	background-color: var(--light-square-color);
}

.d8 {
	grid-area: d8;
	background-color: var(--dark-square-color);
}

.e8 {
	grid-area: e8;
	background-color: var(--light-square-color);
}

.f8 {
	grid-area: f8;
	background-color: var(--dark-square-color);
}

.g8 {
	grid-area: g8;
	background-color: var(--light-square-color);
}

.h8 {
	grid-area: h8;
	background-color: var(--dark-square-color);
}

.a7 {
	grid-area: a7;
	background-color: var(--dark-square-color);
}

.b7 {
	grid-area: b7;
	background-color: var(--light-square-color);
}

.c7 {
	grid-area: c7;
	background-color: var(--dark-square-color);
}

.d7 {
	grid-area: d7;
	background-color: var(--light-square-color);
}

.e7 {
	grid-area: e7;
	background-color: var(--dark-square-color);
}

.f7 {
	grid-area: f7;
	background-color: var(--light-square-color);
}

.g7 {
	grid-area: g7;
	background-color: var(--dark-square-color);
}

.h7 {
	grid-area: h7;
	background-color: var(--light-square-color);
}

.a6 {
	grid-area: a6;
	background-color: var(--light-square-color);
}

.b6 {
	grid-area: b6;
	background-color: var(--dark-square-color);
}

.c6 {
	grid-area: c6;
	background-color: var(--light-square-color);
}

.d6 {
	grid-area: d6;
	background-color: var(--dark-square-color);
}

.e6 {
	grid-area: e6;
	background-color: var(--light-square-color);
}

.f6 {
	grid-area: f6;
	background-color: var(--dark-square-color);
}

.g6 {
	grid-area: g6;
	background-color: var(--light-square-color);
}

.h6 {
	grid-area: h6;
	background-color: var(--dark-square-color);
}

.a5 {
	grid-area: a5;
	background-color: var(--dark-square-color);
}

.b5 {
	grid-area: b5;
	background-color: var(--light-square-color);
}

.c5 {
	grid-area: c5;
	background-color: var(--dark-square-color);
}

.d5 {
	grid-area: d5;
	background-color: var(--light-square-color);
}

.e5 {
	grid-area: e5;
	background-color: var(--dark-square-color);
}

.f5 {
	grid-area: f5;
	background-color: var(--light-square-color);
}

.g5 {
	grid-area: g5;
	background-color: var(--dark-square-color);
}

.h5 {
	grid-area: h5;
	background-color: var(--light-square-color);
}

.a4 {
	grid-area: a4;
	background-color: var(--light-square-color);
}

.b4 {
	grid-area: b4;
	background-color: var(--dark-square-color);
}

.c4 {
	grid-area: c4;
	background-color: var(--light-square-color);
}

.d4 {
	grid-area: d4;
	background-color: var(--dark-square-color);
}

.e4 {
	grid-area: e4;
	background-color: var(--light-square-color);
}

.f4 {
	grid-area: f4;
	background-color: var(--dark-square-color);
}

.g4 {
	grid-area: g4;
	background-color: var(--light-square-color);
}

.h4 {
	grid-area: h4;
	background-color: var(--dark-square-color);
}

.a3 {
	grid-area: a3;
	background-color: var(--dark-square-color);
}

.b3 {
	grid-area: b3;
	background-color: var(--light-square-color);
}

.c3 {
	grid-area: c3;
	background-color: var(--dark-square-color);
}

.d3 {
	grid-area: d3;
	background-color: var(--light-square-color);
}

.e3 {
	grid-area: e3;
	background-color: var(--dark-square-color);
}

.f3 {
	grid-area: f3;
	background-color: var(--light-square-color);
}

.g3 {
	grid-area: g3;
	background-color: var(--dark-square-color);
}

.h3 {
	grid-area: h3;
	background-color: var(--light-square-color);
}

.a2 {
	grid-area: a2;
	background-color: var(--light-square-color);
}

.b2 {
	grid-area: b2;
	background-color: var(--dark-square-color);
}

.c2 {
	grid-area: c2;
	background-color: var(--light-square-color);
}

.d2 {
	grid-area: d2;
	background-color: var(--dark-square-color);
}

.e2 {
	grid-area: e2;
	background-color: var(--light-square-color);
}

.f2 {
	grid-area: f2;
	background-color: var(--dark-square-color);
}

.g2 {
	grid-area: g2;
	background-color: var(--light-square-color);
}

.h2 {
	grid-area: h2;
	background-color: var(--dark-square-color);
}

.a1 {
	grid-area: a1;
	background-color: var(--dark-square-color);
}

.b1 {
	grid-area: b1;
	background-color: var(--light-square-color);
}

.c1 {
	grid-area: c1;
	background-color: var(--dark-square-color);
}

.d1 {
	grid-area: d1;
	background-color: var(--light-square-color);
}

.e1 {
	grid-area: e1;
	background-color: var(--dark-square-color);
}

.f1 {
	grid-area: f1;
	background-color: var(--light-square-color);
}

.g1 {
	grid-area: g1;
	background-color: var(--dark-square-color);
}

.h1 {
	grid-area: h1;
	background-color: var(--light-square-color);
}
