:root {
	--light-square-color: tomato;
	--dark-square-color: teal;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans;
}

#trainer {
	margin: 1rem;
}

#question {
	font-size: 3rem;
	text-align: center;

	background-color: navajowhite;
}

#input {
	min-height: 1.5rem;
	/* max-height: 3rem; */
	text-align: center;
	margin-bottom: 1em;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: tomato;
}

#score {
	text-align: center;
	margin-bottom: 1em;
}

#controls {
	display: grid;
	grid-template-areas:
		'nw ne'
		'sw se';
	gap: .5rem;
	aspect-ratio: 1;

	margin: auto;
}

.arrow {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(.7);
}

.nw .arrow {
	background-image: url(vendor/google-icons/north_west_FILL0_wght400_GRAD0_opsz24.svg);
}

.ne .arrow {
	background-image: url(vendor/google-icons/north_east_FILL0_wght400_GRAD0_opsz24.svg);
}

.sw .arrow {
	background-image: url(vendor/google-icons/south_west_FILL0_wght400_GRAD0_opsz24.svg);
}

.se .arrow {
	background-image: url(vendor/google-icons/south_east_FILL0_wght400_GRAD0_opsz24.svg);
}

@media all and (min-width: 480px) {
	#trainer {
		margin: 1rem;
		max-height: 90svmin;
		overflow: clip;

		display: grid;
		/* grid-template-columns: 10rem auto; */
		/* grid-template-rows: auto 1fr; */
		grid-template-columns: 10rem auto;
		grid-template-rows: 5rem 2rem 3fr;

		/* align-content: baseline; */
		/* justify-content: stretch; */
	}

	#question {
		grid-column: 1;
		grid-row: 1;

		margin: 0;
		/*max-height: fit-content;*/
	}

	#input {
		grid-column: 1;
		grid-row: 2;
	}

	#score {
		grid-column: 1;
		grid-row: 3;
	}

	#controls {
		grid-column: 2;
		grid-row: 1 / 4;

		max-width: 80svmin;
		max-height: 80svmin;

		margin: 0;
		margin-left: 3em;

		gap: 1vmin;
	}
}
